
$font-open-sans: 'Open Sans', Roboto,Arial,sans-serif;;

$primary-color:#00ACC1;
$secondary-color:#333333;

/*#454545*/

$primary-btn-bg:#0587F6;
$white-color:#fff;
$black-color:#000;

$border-color:#ABA0B7;
$grey-color:#CCCCCC;
$shadow-color:#b5b0b0;

$hover-color:#333333;


$body-bg:#F0F0F0;

$text-black:#000;
$menu-hover-bg:#00ACC1;
$legends-text-color:#545354;
$primary-text-color:#6F7374;
$tdHover-color:#F7F5F5;






$table-header-bg:#ebe8e8;
$table-tr-bg:#f9f9f9;
$table-border-head-color:#dee2e6;
$table-border-color:#c1c1c1;
$active-icon-bg:#4AAF51;
$inActive-icon-bg:#EB2115;
$footer-bg:#4C4C4C;



/*$font-open-sans: "Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;*/



$body-bg:#eceeee;

$light-red:#F01E29;
$dark-red:#D11217;

$menu-color-mobile:#3d3d3d;
$sub-menu-color:#999;

$grey-color:#b4b4b4;
$grey-dark-color:#9A9A9A;

$grey-border-color:#e0e0e0;

$btn-hover-dark:#373737;
$blue-color:#3ba2c2;
$blue-dark-color:#257F9B;

$border-color:#646464;

$silver-color:#C0C0C0;
$silver-color-2:#a0a0a0;

$grey-light:#3C4542;


$fb-color:#5D80C9;
$tw-color:#43B7EA;
$in-color:#0270ad;
$ytube-color:#E95649;
$instagram-color:#2C40B3;
$mail-color:#FD4E41;
$whatsapp-color:#24CC63;




















